body {
    padding: 0;
    background: #f7f7f7;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 0;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

div.indexall {
    position: absolute;
    top: 40%;
    left: 25%;
    box-shadow: 3px 3px 5px 6px #ccc;
    z-index: 15;
    background: #ffffff;
    display:inline;
    overflow:hidden;
    width:auto+200px;
    height:auto+200px;
}

header {
    background-color: black;
    width:100%;
    margin:0;
    padding:0;
}

.logo {
    height: 80px;
    width: auto;
    padding-top:10px;
    padding-left:10px;
}

div.login {
    float: left;
    margin-left:50px;
    line-height:200%;
    margin-top:10px;
    margin-bottom:10px;
}

div.signup {
    float:right;
    margin-left:100px;
    line-height:200%;
    margin-top:10px;
    margin-bottom:10px;
}

.validator {
    color: red;
    float:right;
    z-index:16;
    
}
